services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8081:8081" 
    volumes:
      - ./backend/data/waypoints.db:/root/data/waypoints.db
    environment:
      - DB_PATH=/root/data/waypoints.db
      - PORT=8081
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/static:/app/static
    depends_on:
      - backend 
